*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;

}
html
{
	font-size: 10px;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(photo1.JPG);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position:center;
	height: 100vh;
	position: fixed;
	font-family: 'Oswald', sans-serif;
	z-index: 1;
	
}
main
{
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(photo2.jpg); url(photo1.JPG);
	background-size: cover;
	background-position:center;
	margin-top: 100vh;
	position: relative;
	z-index: 2;
}
header img
{
	

}
header nav
{
	position: absolute;
	right: 7%;
	top: 4%;
	font-size: 3rem;
	color: white;
}
header hgroup
{
	position: absolute;
	top: 15%;
	left: 10%;
	text-transform: uppercase;
	color: white;
}
header h1
{
	font-size: 4rem;
}
header h3
{
	font-size: 2.13rem;
	font-weight: 400;
}
#arrow
{
	width: 64px;
	height: 64px;
	border: 3px solid white;
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	font-size: 4rem;
	text-align: center;
	color: white;
	
	overflow: hidden;
	transition: 1s
}
.fa-angle-down
{
	animation: arrow 1.6s infinite linear;
}
#arrow:hover 
{
	font-size: 0px;
	border: 3px solid black;
	box-shadow: 0 0 5px 5px white;
	cursor: pointer;
}
.button
{
	
	
	


}
.btn1
{
	border: 1px solid white;
	width: 20rem;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	position: absolute;
	top: 45%;
	right: 18%;
	
}
.btn2
{
	border: 1px solid white;
	width: 20rem;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 55%;
	right: 18%;
	
	
}

@keyframes arrow 
{
	0% {transform: translateY(-50px)}
	50% {transform: translateY(0px)}
	100% {transform: translateY(50px)}
}

@media (min-width: 480px)
{
	#arrow{position: absolute; bottom: 7%}
	.btn1{top: 40%; right: 27%;}
	.btn2{top: 55%; right: 27%;}
}
@media (min-width: 576px)
{
	h1 {font-size: 4rem}
}


@media (min-width: 768px) 
{
	h1 {font-size: 5rem}
}


@media (min-width: 992px) 
{
	h1 {font-size: 6rem}
}


@media (min-width: 1200px) 
{
	h1 {font-size: 7rem}
}